<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TheCoffeeHouse</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSerif4-Black.ttf</string>
		<string>SourceSerif4-BlackItalic.ttf</string>
		<string>SourceSerif4-Bold.ttf</string>
		<string>SourceSerif4-BoldItalic.ttf</string>
		<string>SourceSerif4-ExtraBold.ttf</string>
		<string>SourceSerif4-ExtraBoldItalic.ttf</string>
		<string>SourceSerif4-ExtraLight.ttf</string>
		<string>SourceSerif4-ExtraLightItalic.ttf</string>
		<string>SourceSerif4-Italic.ttf</string>
		<string>SourceSerif4-Light.ttf</string>
		<string>SourceSerif4-LightItalic.ttf</string>
		<string>SourceSerif4-Medium.ttf</string>
		<string>SourceSerif4-MediumItalic.ttf</string>
		<string>SourceSerif4-Regular.ttf</string>
		<string>SourceSerif4-SemiBold.ttf</string>
		<string>SourceSerif4-SemiBoldItalic.ttf</string>
		<string>SourceSerif4_18pt-Black.ttf</string>
		<string>SourceSerif4_18pt-BlackItalic.ttf</string>
		<string>SourceSerif4_18pt-Bold.ttf</string>
		<string>SourceSerif4_18pt-BoldItalic.ttf</string>
		<string>SourceSerif4_18pt-ExtraBold.ttf</string>
		<string>SourceSerif4_18pt-ExtraBoldItalic.ttf</string>
		<string>SourceSerif4_18pt-ExtraLight.ttf</string>
		<string>SourceSerif4_18pt-ExtraLightItalic.ttf</string>
		<string>SourceSerif4_18pt-Italic.ttf</string>
		<string>SourceSerif4_18pt-Light.ttf</string>
		<string>SourceSerif4_18pt-LightItalic.ttf</string>
		<string>SourceSerif4_18pt-Medium.ttf</string>
		<string>SourceSerif4_18pt-MediumItalic.ttf</string>
		<string>SourceSerif4_18pt-Regular.ttf</string>
		<string>SourceSerif4_18pt-SemiBold.ttf</string>
		<string>SourceSerif4_18pt-SemiBoldItalic.ttf</string>
		<string>SourceSerif4_36pt-Black.ttf</string>
		<string>SourceSerif4_36pt-BlackItalic.ttf</string>
		<string>SourceSerif4_36pt-Bold.ttf</string>
		<string>SourceSerif4_36pt-BoldItalic.ttf</string>
		<string>SourceSerif4_36pt-ExtraBold.ttf</string>
		<string>SourceSerif4_36pt-ExtraBoldItalic.ttf</string>
		<string>SourceSerif4_36pt-ExtraLight.ttf</string>
		<string>SourceSerif4_36pt-ExtraLightItalic.ttf</string>
		<string>SourceSerif4_36pt-Italic.ttf</string>
		<string>SourceSerif4_36pt-Light.ttf</string>
		<string>SourceSerif4_36pt-LightItalic.ttf</string>
		<string>SourceSerif4_36pt-Medium.ttf</string>
		<string>SourceSerif4_36pt-MediumItalic.ttf</string>
		<string>SourceSerif4_36pt-Regular.ttf</string>
		<string>SourceSerif4_36pt-SemiBold.ttf</string>
		<string>SourceSerif4_36pt-SemiBoldItalic.ttf</string>
		<string>SourceSerif4_48pt-Black.ttf</string>
		<string>SourceSerif4_48pt-BlackItalic.ttf</string>
		<string>SourceSerif4_48pt-Bold.ttf</string>
		<string>SourceSerif4_48pt-BoldItalic.ttf</string>
		<string>SourceSerif4_48pt-ExtraBold.ttf</string>
		<string>SourceSerif4_48pt-ExtraBoldItalic.ttf</string>
		<string>SourceSerif4_48pt-ExtraLight.ttf</string>
		<string>SourceSerif4_48pt-ExtraLightItalic.ttf</string>
		<string>SourceSerif4_48pt-Italic.ttf</string>
		<string>SourceSerif4_48pt-Light.ttf</string>
		<string>SourceSerif4_48pt-LightItalic.ttf</string>
		<string>SourceSerif4_48pt-Medium.ttf</string>
		<string>SourceSerif4_48pt-MediumItalic.ttf</string>
		<string>SourceSerif4_48pt-Regular.ttf</string>
		<string>SourceSerif4_48pt-SemiBold.ttf</string>
		<string>SourceSerif4_48pt-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
