.menu-container {
	padding-top: 60px;
	width: 100%;
	height: 100%;
}

.menu-left-nav-bar {
	width: 15%;
	height: 100%;
	padding-left: 50px;
	margin-left: 100px;
	border-color: rgba(0, 0, 0, 0.6);
	border-right: 2px solid;
	font-family: 'SF Pro Text', sans-serif;
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	position: fixed;
}
.menu-left-nav-bar p:hover {
	color: #ea8025;
}
.menu {
	float: right;
	width: 80%;
	padding-left: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-family: 'SF Pro Text', sans-serif;
}
.menu img {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	filter: drop-shadow(10px 10px 10px #e1e1e1);
}

.menu p:nth-child(even) {
	font-weight: bold;
}

.menu p:nth-child(odd) {
	color: rgba(0, 0, 0, 0.6);
}

.menu-coffee {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-cloudFee {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-frosty {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-hi-tea-healthy {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-fruitTea {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-cloudTea {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-fruitTea {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
