.menu-container {
	padding-top: 60px;
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
}

.menu-left-nav-bar {
	border-color: #d9d9d9;
	border-right: 1px solid;
	width: 180px;
	height: 100%;
	font-family: 'SF Pro Text', sans-serif;
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.menu-left-nav-bar p:hover {
	color: #ea8025;
}
.content {
	margin-left: 200px;
}
.menu {
	padding-left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'SF Pro Text', sans-serif;
}
.menu img {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	filter: drop-shadow(10px 10px 10px #e1e1e1);
}

.menu p:nth-child(even) {
	font-weight: bold;
}

.menu p:nth-child(odd) {
	color: rgba(0, 0, 0, 0.6);
}

.menu-coffee {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-cloudFee {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-frosty {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-hi-tea-healthy {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-fruitTea {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-cloudTea {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
}

.menu-fruitTea {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1000px) {
	.menu-left-nav-bar {
		display: none;
	}
}
