.navigation {
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: white;
	border-bottom: 2px;
	border-style: outset;
}

.navigation ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.navigation h1 {
	font-family: 'Source Serif 4';
	font-size: medium;
	color: black;
	text-align: center;
}

.navigation h1:hover {
	font-family: 'Source Serif 4';
	color: rgb(229 121 5);
}

li {
	list-style-type: none;
}
